src/conf/xml-resources/web-service-references/BookingServiceA/wsdl/localhost_8080/wsd/BookingServiceA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.source/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.source/" name="BookingServiceA">
<types>
<xsd:schema>
<xsd:import namespace="http://www.uts.edu.au/31284/wsd-bookings" schemaLocation="http://localhost:8080/wsd/BookingServiceA?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soap.source/" schemaLocation="http://localhost:8080/wsd/BookingServiceA?xsd=2"/>
</xsd:schema>
</types>
<message name="getBookingByStatus">
<part name="parameters" element="tns:getBookingByStatus"/>
</message>
<message name="getBookingByStatusResponse">
<part name="parameters" element="tns:getBookingByStatusResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="makeDoubleEmailBooking">
<part name="parameters" element="tns:makeDoubleEmailBooking"/>
</message>
<message name="makeDoubleEmailBookingResponse">
<part name="parameters" element="tns:makeDoubleEmailBookingResponse"/>
</message>
<message name="getStatusTutorBooking">
<part name="parameters" element="tns:getStatusTutorBooking"/>
</message>
<message name="getStatusTutorBookingResponse">
<part name="parameters" element="tns:getStatusTutorBookingResponse"/>
</message>
<message name="getBookingStudentEmail">
<part name="parameters" element="tns:getBookingStudentEmail"/>
</message>
<message name="getBookingStudentEmailResponse">
<part name="parameters" element="tns:getBookingStudentEmailResponse"/>
</message>
<message name="cancelBookingTutor">
<part name="parameters" element="tns:cancelBookingTutor"/>
</message>
<message name="cancelBookingTutorResponse">
<part name="parameters" element="tns:cancelBookingTutorResponse"/>
</message>
<message name="getTutorsByStatus">
<part name="parameters" element="tns:getTutorsByStatus"/>
</message>
<message name="getTutorsByStatusResponse">
<part name="parameters" element="tns:getTutorsByStatusResponse"/>
</message>
<message name="getAvailable">
<part name="parameters" element="tns:getAvailable"/>
</message>
<message name="getAvailableResponse">
<part name="parameters" element="tns:getAvailableResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="makeEmailBooking">
<part name="parameters" element="tns:makeEmailBooking"/>
</message>
<message name="makeEmailBookingResponse">
<part name="parameters" element="tns:makeEmailBookingResponse"/>
</message>
<message name="getSubjectTutors">
<part name="parameters" element="tns:getSubjectTutors"/>
</message>
<message name="getSubjectTutorsResponse">
<part name="parameters" element="tns:getSubjectTutorsResponse"/>
</message>
<message name="makeBooking">
<part name="parameters" element="tns:makeBooking"/>
</message>
<message name="makeBookingResponse">
<part name="parameters" element="tns:makeBookingResponse"/>
</message>
<message name="removeTutor">
<part name="parameters" element="tns:removeTutor"/>
</message>
<message name="removeTutorResponse">
<part name="parameters" element="tns:removeTutorResponse"/>
</message>
<message name="studentLogin">
<part name="parameters" element="tns:studentLogin"/>
</message>
<message name="studentLoginResponse">
<part name="parameters" element="tns:studentLoginResponse"/>
</message>
<message name="removeStudent">
<part name="parameters" element="tns:removeStudent"/>
</message>
<message name="removeStudentResponse">
<part name="parameters" element="tns:removeStudentResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="tutorLogin">
<part name="parameters" element="tns:tutorLogin"/>
</message>
<message name="tutorLoginResponse">
<part name="parameters" element="tns:tutorLoginResponse"/>
</message>
<message name="getTutors">
<part name="parameters" element="tns:getTutors"/>
</message>
<message name="getTutorsResponse">
<part name="parameters" element="tns:getTutorsResponse"/>
</message>
<message name="cancelBooking">
<part name="parameters" element="tns:cancelBooking"/>
</message>
<message name="cancelBookingResponse">
<part name="parameters" element="tns:cancelBookingResponse"/>
</message>
<message name="completeBooking">
<part name="parameters" element="tns:completeBooking"/>
</message>
<message name="completeBookingResponse">
<part name="parameters" element="tns:completeBookingResponse"/>
</message>
<portType name="BookingServiceA">
<operation name="getBookingByStatus">
<input wsam:Action="http://soap.source/BookingServiceA/getBookingByStatusRequest" message="tns:getBookingByStatus"/>
<output wsam:Action="http://soap.source/BookingServiceA/getBookingByStatusResponse" message="tns:getBookingByStatusResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/getBookingByStatus/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/getBookingByStatus/Fault/Exception"/>
</operation>
<operation name="makeDoubleEmailBooking">
<input wsam:Action="http://soap.source/BookingServiceA/makeDoubleEmailBookingRequest" message="tns:makeDoubleEmailBooking"/>
<output wsam:Action="http://soap.source/BookingServiceA/makeDoubleEmailBookingResponse" message="tns:makeDoubleEmailBookingResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/makeDoubleEmailBooking/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/makeDoubleEmailBooking/Fault/Exception"/>
</operation>
<operation name="getStatusTutorBooking">
<input wsam:Action="http://soap.source/BookingServiceA/getStatusTutorBookingRequest" message="tns:getStatusTutorBooking"/>
<output wsam:Action="http://soap.source/BookingServiceA/getStatusTutorBookingResponse" message="tns:getStatusTutorBookingResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/getStatusTutorBooking/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/getStatusTutorBooking/Fault/Exception"/>
</operation>
<operation name="getBookingStudentEmail">
<input wsam:Action="http://soap.source/BookingServiceA/getBookingStudentEmailRequest" message="tns:getBookingStudentEmail"/>
<output wsam:Action="http://soap.source/BookingServiceA/getBookingStudentEmailResponse" message="tns:getBookingStudentEmailResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/getBookingStudentEmail/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/getBookingStudentEmail/Fault/Exception"/>
</operation>
<operation name="cancelBookingTutor">
<input wsam:Action="http://soap.source/BookingServiceA/cancelBookingTutorRequest" message="tns:cancelBookingTutor"/>
<output wsam:Action="http://soap.source/BookingServiceA/cancelBookingTutorResponse" message="tns:cancelBookingTutorResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/cancelBookingTutor/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/cancelBookingTutor/Fault/Exception"/>
</operation>
<operation name="getTutorsByStatus">
<input wsam:Action="http://soap.source/BookingServiceA/getTutorsByStatusRequest" message="tns:getTutorsByStatus"/>
<output wsam:Action="http://soap.source/BookingServiceA/getTutorsByStatusResponse" message="tns:getTutorsByStatusResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/getTutorsByStatus/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/getTutorsByStatus/Fault/Exception"/>
</operation>
<operation name="getAvailable">
<input wsam:Action="http://soap.source/BookingServiceA/getAvailableRequest" message="tns:getAvailable"/>
<output wsam:Action="http://soap.source/BookingServiceA/getAvailableResponse" message="tns:getAvailableResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.source/BookingServiceA/getAvailable/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/getAvailable/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/getAvailable/Fault/Exception"/>
</operation>
<operation name="makeEmailBooking">
<input wsam:Action="http://soap.source/BookingServiceA/makeEmailBookingRequest" message="tns:makeEmailBooking"/>
<output wsam:Action="http://soap.source/BookingServiceA/makeEmailBookingResponse" message="tns:makeEmailBookingResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/makeEmailBooking/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/makeEmailBooking/Fault/Exception"/>
</operation>
<operation name="getSubjectTutors">
<input wsam:Action="http://soap.source/BookingServiceA/getSubjectTutorsRequest" message="tns:getSubjectTutors"/>
<output wsam:Action="http://soap.source/BookingServiceA/getSubjectTutorsResponse" message="tns:getSubjectTutorsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/getSubjectTutors/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/getSubjectTutors/Fault/Exception"/>
</operation>
<operation name="makeBooking">
<input wsam:Action="http://soap.source/BookingServiceA/makeBookingRequest" message="tns:makeBooking"/>
<output wsam:Action="http://soap.source/BookingServiceA/makeBookingResponse" message="tns:makeBookingResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.source/BookingServiceA/makeBooking/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/makeBooking/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/makeBooking/Fault/Exception"/>
</operation>
<operation name="removeTutor">
<input wsam:Action="http://soap.source/BookingServiceA/removeTutorRequest" message="tns:removeTutor"/>
<output wsam:Action="http://soap.source/BookingServiceA/removeTutorResponse" message="tns:removeTutorResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/removeTutor/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/removeTutor/Fault/Exception"/>
</operation>
<operation name="studentLogin">
<input wsam:Action="http://soap.source/BookingServiceA/studentLoginRequest" message="tns:studentLogin"/>
<output wsam:Action="http://soap.source/BookingServiceA/studentLoginResponse" message="tns:studentLoginResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/studentLogin/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/studentLogin/Fault/Exception"/>
</operation>
<operation name="removeStudent">
<input wsam:Action="http://soap.source/BookingServiceA/removeStudentRequest" message="tns:removeStudent"/>
<output wsam:Action="http://soap.source/BookingServiceA/removeStudentResponse" message="tns:removeStudentResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/removeStudent/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/removeStudent/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://soap.source/BookingServiceA/helloRequest" message="tns:hello"/>
<output wsam:Action="http://soap.source/BookingServiceA/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="tutorLogin">
<input wsam:Action="http://soap.source/BookingServiceA/tutorLoginRequest" message="tns:tutorLogin"/>
<output wsam:Action="http://soap.source/BookingServiceA/tutorLoginResponse" message="tns:tutorLoginResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/tutorLogin/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/tutorLogin/Fault/Exception"/>
</operation>
<operation name="getTutors">
<input wsam:Action="http://soap.source/BookingServiceA/getTutorsRequest" message="tns:getTutors"/>
<output wsam:Action="http://soap.source/BookingServiceA/getTutorsResponse" message="tns:getTutorsResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/getTutors/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/getTutors/Fault/Exception"/>
</operation>
<operation name="cancelBooking">
<input wsam:Action="http://soap.source/BookingServiceA/cancelBookingRequest" message="tns:cancelBooking"/>
<output wsam:Action="http://soap.source/BookingServiceA/cancelBookingResponse" message="tns:cancelBookingResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/cancelBooking/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/cancelBooking/Fault/Exception"/>
</operation>
<operation name="completeBooking">
<input wsam:Action="http://soap.source/BookingServiceA/completeBookingRequest" message="tns:completeBooking"/>
<output wsam:Action="http://soap.source/BookingServiceA/completeBookingResponse" message="tns:completeBookingResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.source/BookingServiceA/completeBooking/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.source/BookingServiceA/completeBooking/Fault/Exception"/>
</operation>
</portType>
<binding name="BookingServiceAPortBinding" type="tns:BookingServiceA">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBookingByStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="makeDoubleEmailBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getStatusTutorBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getBookingStudentEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelBookingTutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTutorsByStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="makeEmailBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSubjectTutors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="makeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="removeTutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="studentLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="removeStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tutorLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTutors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="completeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookingServiceA">
<port name="BookingServiceAPort" binding="tns:BookingServiceAPortBinding">
<soap:address location="http://localhost:8080/wsd/BookingServiceA"/>
</port>
</service>
</definitions>