src/conf/xml-resources/web-service-references/BookingServiceA/wsdl/localhost_8080/wsd/BookingServiceA.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.source/" xmlns:ns2="http://www.uts.edu.au/31284/wsd-students" xmlns:ns1="http://www.uts.edu.au/31284/wsd-bookings" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.source/">

<xs:import namespace="http://www.uts.edu.au/31284/wsd-bookings" schemaLocation="http://localhost:8080/wsd/BookingServiceA?xsd=2"/>

<xs:import namespace="http://www.uts.edu.au/31284/wsd-students" schemaLocation="http://localhost:8080/wsd/BookingServiceA?xsd=1"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="studentLogin" type="tns:studentLogin"/>

<xs:element name="studentLoginResponse" type="tns:studentLoginResponse"/>

<xs:element name="tutorLogin" type="tns:tutorLogin"/>

<xs:element name="tutorLoginResponse" type="tns:tutorLoginResponse"/>

<xs:complexType name="studentLogin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentLoginResponse">
<xs:sequence>
<xs:element name="return" type="ns2:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tutorLogin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tutorLoginResponse">
<xs:sequence>
<xs:element name="return" type="ns2:tutor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>