src/conf/xml-resources/web-service-references/BookingServiceA/wsdl/localhost_8080/webservices/BookingServiceA.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.source/" xmlns:ns1="http://www.uts.edu.au/31284/wsd-bookings" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.source/">

<xs:import namespace="http://www.uts.edu.au/31284/wsd-bookings" schemaLocation="http://localhost:8080/webservices/BookingServiceA?xsd=1"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="booking" type="tns:booking"/>

<xs:element name="cancelBooking" type="tns:cancelBooking"/>

<xs:element name="cancelBookingResponse" type="tns:cancelBookingResponse"/>

<xs:element name="cancelBookingTutor" type="tns:cancelBookingTutor"/>

<xs:element name="cancelBookingTutorResponse" type="tns:cancelBookingTutorResponse"/>

<xs:element name="completeBooking" type="tns:completeBooking"/>

<xs:element name="completeBookingResponse" type="tns:completeBookingResponse"/>

<xs:element name="getAvailable" type="tns:getAvailable"/>

<xs:element name="getAvailableResponse" type="tns:getAvailableResponse"/>

<xs:element name="getBookingByStatus" type="tns:getBookingByStatus"/>

<xs:element name="getBookingByStatusResponse" type="tns:getBookingByStatusResponse"/>

<xs:element name="getBookingStudentEmail" type="tns:getBookingStudentEmail"/>

<xs:element name="getBookingStudentEmailResponse" type="tns:getBookingStudentEmailResponse"/>

<xs:element name="getStatusTutorBooking" type="tns:getStatusTutorBooking"/>

<xs:element name="getStatusTutorBookingResponse" type="tns:getStatusTutorBookingResponse"/>

<xs:element name="getSubjectTutors" type="tns:getSubjectTutors"/>

<xs:element name="getSubjectTutorsResponse" type="tns:getSubjectTutorsResponse"/>

<xs:element name="getTutors" type="tns:getTutors"/>

<xs:element name="getTutorsByStatus" type="tns:getTutorsByStatus"/>

<xs:element name="getTutorsByStatusResponse" type="tns:getTutorsByStatusResponse"/>

<xs:element name="getTutorsResponse" type="tns:getTutorsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="makeBooking" type="tns:makeBooking"/>

<xs:element name="makeBookingResponse" type="tns:makeBookingResponse"/>

<xs:element name="makeDoubleEmailBooking" type="tns:makeDoubleEmailBooking"/>

<xs:element name="makeDoubleEmailBookingResponse" type="tns:makeDoubleEmailBookingResponse"/>

<xs:element name="makeEmailBooking" type="tns:makeEmailBooking"/>

<xs:element name="makeEmailBookingResponse" type="tns:makeEmailBookingResponse"/>

<xs:element name="removeStudent" type="tns:removeStudent"/>

<xs:element name="removeStudentResponse" type="tns:removeStudentResponse"/>

<xs:element name="removeTutor" type="tns:removeTutor"/>

<xs:element name="removeTutorResponse" type="tns:removeTutorResponse"/>

<xs:element name="student" type="tns:student"/>

<xs:element name="studentLogin" type="tns:studentLogin"/>

<xs:element name="studentLoginResponse" type="tns:studentLoginResponse"/>

<xs:element name="tutor" type="tns:tutor"/>

<xs:element name="tutorLogin" type="tns:tutorLogin"/>

<xs:element name="tutorLoginResponse" type="tns:tutorLoginResponse"/>

<xs:complexType name="getStatusTutorBooking">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="tutor" type="tns:tutor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tutor">
<xs:complexContent>
<xs:extension base="tns:user">
<xs:sequence>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="dateofbirth" type="xs:string" minOccurs="0"/>
<xs:element name="usertype" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="user" abstract="true">
<xs:sequence>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatusTutorBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="tutoremail" type="xs:string" minOccurs="0"/>
<xs:element name="tutorfirstname" type="xs:string" minOccurs="0"/>
<xs:element name="tutorlastname" type="xs:string" minOccurs="0"/>
<xs:element name="subjectname" type="xs:string" minOccurs="0"/>
<xs:element name="studentemail" type="xs:string" minOccurs="0"/>
<xs:element name="studentfirstname" type="xs:string" minOccurs="0"/>
<xs:element name="studentlastname" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="id" type="xs:int" use="required"/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeBooking">
<xs:sequence>
<xs:element name="tutor" type="tns:tutor" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tutorLogin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tutorLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:tutor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelBooking">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:complexContent>
<xs:extension base="tns:user">
<xs:sequence>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="dateofbirth" type="xs:string" minOccurs="0"/>
<xs:element name="usertype" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="cancelBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTutors">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTutorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:tutor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingStudentEmail">
<xs:sequence>
<xs:element name="studentEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingStudentEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailable">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvailableResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookings" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookings">
<xs:sequence>
<xs:element name="booking" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookingByStatus">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="student" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingByStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentLogin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTutorsByStatus">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTutorsByStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:tutor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubjectTutors">
<xs:sequence>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubjectTutorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:tutor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTutor">
<xs:sequence>
<xs:element name="tutor" type="tns:tutor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTutorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeStudent">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeStudentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="makeEmailBooking">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0"/>
<xs:element name="tutorEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeEmailBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cancelBookingTutor">
<xs:sequence>
<xs:element name="tutor" type="tns:tutor" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelBookingTutorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="makeBooking">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0"/>
<xs:element name="tutor" type="tns:tutor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="makeDoubleEmailBooking">
<xs:sequence>
<xs:element name="studentEmail" type="xs:string" minOccurs="0"/>
<xs:element name="tutorEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeDoubleEmailBookingResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>