web/WEB-INF/wsdl/localhost_8080/webservices/StudentApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.uts.edu.au/31284/wsd-students" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.uts.edu.au/31284/wsd-students">

<xs:element name="student" type="tns:student"/>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="dateofbirth" type="xs:string" minOccurs="0"/>
<xs:element name="usertype" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>